#my-hams {
  .button-text-container {
    @apply relative z-10 flex items-center justify-center;
  }
  .hams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }
}
