@import "../../variables.scss";
#contact-us {
  .contact-grid {
    display: grid;
    gap: 24px;
  }
  .form-input {
    background-color: transparent;
    padding: 20px;
    width: 100%;
    color: black;
    font-weight: 700;
    border: 3px solid #696251;
  }
  .form-input::placeholder {
    color: black;
  }
  .submit {
    margin-top: 24px;
    align-self: flex-end;
    height: 72px;
    justify-self: flex-end;
    padding: 16px 40px;
    color: #fff;
    border-radius: 140px;
    background-color: $black;
  }
  .submit-modal {
    width: 100%;
  }
  .line {
    display: none;
  }
  .poof {
    width: 100%;
  }
}
