#settings {
  color: white;

  .input-label {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
  }
  .input {
    font-weight: 700;
    padding: 24px 30px;
    background: transparent;
    border: 3px solid #696251;
  }
  .plug {
    color: #ffc064;
  }
  .stoic {
    color: #696251;
  }
}
