/* @import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat:wght@500;600;700;800&display=swap");
@font-face {
  font-family: "Frightmare";
  src: local("Frightmare"), url(/assets/font/Frightmare.ttf) format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
.font-creep {
  font-family: "Frightmare", sans-serif;
}

body *::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

body *::-webkit-scrollbar {
  padding-right: 2px;
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
}

body *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 5px;

  background-color: #fc710080;
}
