$yellow: #e8b72c;
$black: #3a3a3a;
$turf: #9e9171;
$dark-turf: #696251;
$light-crimson: #ffc064;
$crimson: #d88535;
$dark-crimson: #ad6016;
$charcoal: #252525;
$common: #d88535;
$uncommon: #6fcd93;
$rare: #61c8f7;
$ultraRare: #f0cb64;
