@import "../../variables.scss";
.pagination {
  font-weight: 800;
  color: white;
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    background: #d88535;
    border: 3px solid #ad6016;
    &.current {
      @apply bg-yellow border-white;
    }
  }
}
